<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="retailred" translate="label" sortOrder="999">
            <label>Retail.red</label>
        </tab>

        <section id="retailred_storefront" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Configuration</label>
            <tab>retailred</tab>
            <resource>Retailred_Storefront::config</resource>

            <group id="api" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" translate="label">
                <label>Plugin &amp; Storefront configuration</label>

                <field id="apiKey" translate="label" type="password" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Storefront API Key</label>
                </field>

                <field id="apiStage" translate="label" type="select" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Storefront Stage</label>
                    <options>
                        <option label="production">production</option>
                        <option label="staging">staging</option>
                        <option label="development">development</option>
                    </options>
                </field>

                <field id="productCodeMapping" translate="label comment" type="select" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Use as product code</label>
                    <options>
                        <option label="SKU">sku</option>
                        <option label="ID">id</option>
                    </options>
                </field>

                <field id="browserHistory" translate="label comment" type="select" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Browser History</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[
                        If enabled the browsers history will be used within the reservation modal allowing the users to navigate with the native controls.
                        Can be disabled when your store is already using the browsers history internally and the modals history conflicts with it.
                    ]]></comment>
                </field>

                <field id="useGeolocationImmediately" translate="label comment" type="select" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Use Geolocation Immediately</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[
                        If enabled, whenever the user opens the store list the browsers geolocation will be requested
                        immediately instead of only after pressing the locate me button.
                    ]]></comment>
                </field>

                <field id="testMode" translate="label comment" type="select" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Test Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[
                        When set to true no buttons will be rendered within the users browser, till the page was once opened
                        with a query parameter like rrTesting=start. A testing session can be stopped by opening the page with rrTesting=end
                    ]]></comment>
                </field>

                <field id="unitSystem" translate="label" type="select" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Units</label>
                    <options>
                        <option label="metric">metric</option>
                        <option label="imperial">imperial</option>
                    </options>
                </field>

                <field id="countries" translate="label" type="multiselect" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Countries</label>
                    <options>
                        <option label="de">de</option>
                        <option label="us">us</option>
                    </options>
                </field>

            </group>
            <group id="general" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" translate="label">
                <label>Configuration</label>

                <field id="render" translate="label" type="select" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Display on product detail page</label>
                    <options>
                        <option label="Disabled">disabled</option>
                        <option label="Show reservation button">reserveButton</option>
                        <option label="Show availability in store">liveInventory</option>
                    </options>
                    <comment><![CDATA[
                        Choose what should be displayed on the product detail page. <br/>
                        Reservation button - A button that opens a popup with a store list and the availability of the selected product in these stores. <br/>
                        Availability in store - A box that directly shows the availability of the product in the store.
                        The customer has to select a store the first time.
                    ]]></comment>
                </field>

                <field id="renderMode" translate="label" type="select" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Store selection</label>
                    <options>
                        <option label="Modal">modal</option>
                        <option label="Dropdown">list</option>
                    </options>
                    <comment><![CDATA[
                        Only relevant if "Show availability in store" is selected above. Choose how the customer can select his store. <br/>
                        Modal - Opens a popup where the customer can search for his store via zip code or geolocation.
                        Also shows address, distance and opening hours if available. <br/>
                        Dropdown - A simple dropdown where the customer can choose the store from. Recommended only for small amount of stores.
                    ]]></comment>
                </field>

                <field id="inventoryHideNumber" translate="label comment" type="select" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Hide stock</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Hides the stock number and therefore display only if the product is available or not.</comment>
                </field>

                <field id="inventoryShowExactUntil" translate="label" type="text" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Show exact inventory until</label>
                    <comment>If inventory is higher than the given number the inventory will be displayed as "X+ Available"</comment>
                </field>

                <field id="inventoryShowLowUntil" translate="label" type="text" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Show low inventory until</label>
                    <comment>If inventory is lower than the given number the inventory will be displayed in the state-warning color</comment>
                </field>

                <field id="termsLink" translate="label" type="text" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Terms Link</label>
                    <comment>Add an url to the terms and condition page, also enforces the user to accept them before placing an reservation</comment>
                </field>

                <field id="privacyLink" translate="label" type="text" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Privacy Link</label>
                    <comment>Add an url to the privacy page, also enforces the user to accept them before placing an reservation</comment>
                </field>

            </group>
            <group id="design" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" translate="label">
                <label>Design &amp; UI</label>

                <field id="colors" translate="label" type="textarea" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Colors</label>
                    <comment>Please use only the 3 numbers of rgb schema. rgb(1,2,3) -> 1,2,3</comment>
                </field>

                <field id="translations" translate="label" type="textarea" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Translations JSON</label>
                    <comment>JSON format. All strings can be found in the github repo</comment>
                </field>

            </group>
        </section>
    </system>
</config>
